.button-padding {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    background-color: #303030;
}

.vert-center {
    text-align: center;
}

#buttongrp {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}