.button-padding {
    margin-left: 5px;
    margin-right: 5px;
}

body {
    background-color: #2E4A62;
}

.vert-center {
    text-align: center;
}

#buttongrp {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#twitter-feed {
    
}