#content, #authorize, #authorize-button, #signout-button {
    display: none;
}

#authorize-button {
    margin-top: 60px;
}

#content {
    color: white;
}

#content {
    margin-top: 70px;
}

.light-text {
    color: #000;
}

.center-block {
    text-align: center;
}